.clothingItem{
  position: relative;
  transition:all 300ms 0ms ease-in;
}

.crop {
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.crop img {
  height: auto;
  width: 400px;
}

.form-inline {
  margin-top: 2px;
}