<template name="landing">
  <div class="col-sm-6 col-sm-offset-3">
      <div class="row text-center">
        <p>
        <a href="measurements" class="btn-lg btn-default btn-block">Measurements</a>
      </p>
      </div>
      <div class="row text-center">
        <p>
        <a href="shopping" class="btn-lg btn-default btn-block">Design</a>
        </p>
      </div>
      <div class="row text-center">
        <a href="takePicture" class="btn-lg btn-default btn-block">Take Test Picture</a>
      </div>
      <div class="row text-center">
        <a href="orders" class="btn-lg btn-default btn-block">Orders</a>
      </div>
  </div>
</template>
