<template name='orders'>
  {{#with modalOrderContext}}
  <div class="modal fade" id="expandModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span></button>
          <h4 class="modal-title">{{customerName}}</h4>
        </div>
        <div class="modal-body">
          {{{getMeasurements this._id}}}
          <hr>
          {{{getStyleChoices this._id}}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close
          </button>
        </div>
      </div> <!--modal-conent -->
    </div> <!-- modal dialog -->
  </div> <!-- modal -->
  {{/with}}
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Order Date</th>
        <th>Item Type</th>
        <th>Order Details</th>
      </tr>
    </thead>
    <tbody>
      {{#each activeOrder}}
        <tr class='orderRow default' id='{{_id}}'>
          <td>{{customerName}}</td>
          <td>{{orderDate}}</td>
          <td>{{itemType}}</td>
          <td><button type="button" class="btn btn-default expand"
              data-toggle="modal" data-target="#expandModal">
              Show
          </button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
    <hr>
    <form role="form">
    <div class="form-group">
      <label for="targetEmail">Supplier's Email Address</label>
      <input type="email" class="form-control" id="targetEmail"
        placeholder="Enter email">
      </div>
    </form>
    <button class="btn btn-lg btn-primary" id="reviewOrder">Review Order</button> 
</template>
