<template name='orders'>
  <div class='row text-center'>
    <div class='col-xs-4'>Customer Name</div>
    <div class='col-xs-3'>Order Date</div>
    <div class='col-xs-3'>Item Type</div>
    <div class='col-xs-2'>Order</div>
  </div>
  <div class='btn-group-vertical btn-block'>
    {{#each activeOrder}}
      <button type='button' id='{{_id}}' class='btn btn-block btn-default active-order list-item text-center'>
        <div class='col-xs-4'>{{customerName}}</div>
        <div class='col-xs-3'>{{orderDate}}</div>
        <div class='col-xs-3'>{{itemType}}</div>
        <div class='col-xs-2'><span class='glyphicon glyphicon-plus'></span></div>
      </button>
    {{/each}}
  </div>
  <h3 class="text-center">Review and send orders</h3>
  <form role="form">
    <div class="form-group">
      <label for="targetEmail">Supplier's Email Address</label>
      <input type="email" class="form-control" id="targetEmail"
        placeholder="Enter email">
      </div>
      <button type="submit" id="sendEmail" 
        class="center-block btn btn-primary btn-large">
        Review Order
      </button>
    </form>
</template>
