<template name='styleChoices'>
  <div class='col-md-2 col-xs-3'>
    <div class='btn-group-vertical btn-block'>
      {{#each styleChoiceGrouping}}
      <button type='button' class='btn btn-default list-item' id={{this}}>{{this}}</button>
      {{/each}}
    </div>
    <br><br><button type='button' class='btn btn-success btn-block' id=submitChoices>Submit Choices</button>
  </div>
  <div class='col-xs-9 col-md-8'>
    {{#each styleChoice}}
      <div class="col-md-3">
        <img src="{{url}}" alt="an Image" id={{metadata.caption}} class="img-responsive thumbnail">
      <div class='text-center'>
        <small>{{metadata.caption}}</small>
      </div>
    </div>
    {{/each}}
  </div>
  <div class='col-xs-4 col-md-2 text-center'>
    <big>Current Choices</big>
    {{#each selectedChoice}}
    <div class='row'>
      Test{{this}}
    </div>
    {{/each}}
  </div>
  <div class='col-md-8 col-md-offset-2 text-center'>
  <hr>
    <button type="button" class="btn btn-lg btn-default" id="addStyleChoice">
      Add Style Choice
    </button>
  {{#if displayAddStyleChoice}}
    {{> addStyleChoices}}
  {{/if}}
  </div>
</template>
