<template name='styleChoices'>
  <div class='col-xs-2'>
    <div class='btn-group-vertical btn-block'>
      {{#each styleChoiceGrouping}}
      <button type='button' class='btn btn-default' id={{this}}>{{this}}</button>
      {{/each}}
    </div>
  </div>
  <div class='col-xs-10'>
    {{#each styleChoice}}
      <a class='col-sm-3 thumbnail'>
        <img src="{{path}}" alt="{{caption}}">
        <div class='text-center'>
          <small>{{caption}}</small>
        </div>
      </a>
    {{/each}}
  </div>
</template>
